mixin item_T_field(child)
   <?php global $glo; ?>
   - var path = glo['path']
   - var path_parts = glo['path_parts']
   - var attach = glo['attach']

   if child
   
      tr(data-item-id=child.id, data-item-type=child.type.name).item_T_field&attributes(attributes)
         td(colname='order').page_table-order.row.jcc.aic.cup
            img(src=`${attach}/Images/up-down.svg` draggable="false")
         td(colname='key').p0
            input(placeholder='Input key...', value=child.key)
         td(colname='name').p0
            input(placeholder='Input name...', value=child.name)
         td(colname='value').w100.p0
            input(placeholder='Input value...', value=child.value)
         td(colname='type', colspan=2)= child.type.name
         td.tac(colname='permission') edit

   else

      tr(data-item-id='{id}', data-item-type='{type}').item_T_field&attributes(attributes)
         td(colname='order').page_table-order.row.jcc.aic.cup
            img(src=`${attach}/Images/up-down.svg` draggable="false")
         td(colname='key').p0
            input(placeholder='Input key...', value='{key}')
         td(colname='name').p0
            input(placeholder='Input name...', value='{name}')
         td(colname='value').w100.p0
            input(placeholder='Input value...', value='{value}')
         td(colname='type', colspan=2) {type}
         td.tac(colname='permission') {permission}