:php
   $PHP = '../'

include ../../bundle.pug

+die-if-bad()
- var global = { 'page-name': 'plugins' };
+get-user-info()

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Plugins | Just Field
      +favicon()
   body.row
      +aside()
      main(style!=`<?= "width: $anti_aside_width;" ?>`).rel
         table(data-update-link='./../scripts/?script=field-update').w100
            thead
               tr
                  td Priority
                  td Name
                  td.w100 Description
                  td Version
                  td Enabled
            tbody
               :php
                  $plugins_folder = $PHP . '/plugins';
                  $plugin_list = glob("$plugins_folder/*", GLOB_ONLYDIR);
                  $plugins = [];

                  foreach ($plugin_list as $plugin_folder) {
                     $plugin = basename($plugin_folder);

                     $manifest_path = $plugin_folder . '/manifest.json';
                     if (!file_exists($manifest_path)) {
                        console_error("Error: no manifest in \"$plugin_folder\". Plugin \"$plugin\" won't be used.");
                        continue;
                     }

                     $manifest = json_decode(file_get_contents($manifest_path));

                     if (!$manifest->enabled) {
                        console_log("Plugin \"$plugin\" won't be used because disabled");
                        continue;
                     }

                     array_push($plugins, new Plugin($plugin, $plugin_folder, $manifest));
                  }

                  usort($plugins, function ($a, $b) { return -1 * ($a->manifest->priority <=> $b->manifest->priority); });

               <?php foreach ($plugins as $plugin) : ?>
                  <?php if (file_exists($plugin->load_path)) : ?>
                     
                     tr
                        - tmp = "<?= $plugin->manifest->priority ?>"
                        td.tar!= tmp 
                        - tmp = "<?= $plugin->name ?>"
                        td.whsnw!= tmp
                        - tmp = "<?= $plugin->manifest->description ?>"
                        td!= tmp
                        - tmp = "<?= $plugin->manifest->version ?>"
                        td.tac!= tmp
                        - tmp = "<?= $plugin->manifest->enabled ? 'Yes' : 'No' ?>"
                        td.tac!= tmp
                  <?php endif; ?>
               <?php endforeach; ?>
