include ../../bundle.pug

+die-if-bad()
- var global = { 'page-name': 'field', orm: orm, user: null, attach: attach };
<?php global $glo; ?>
- var glo = global
+get-user-info(global)

if !$_GET['view']
   - header('Location: ./dev.php?page=field&view=tree')

<?php require_once $php . '/JustField.php'; ?>
<?php $db = new JustField\DB($orm, ['assets' => $assets]); ?>

<?php $query_update = function ($key, $value) { if (!isset($_GET[$key])) return; return './dev.php?' . str_replace("$key=".$_GET[$key], "$key=$value", $_SERVER['QUERY_STRING']); }; ?>

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Fields | Just Field
      link(rel="stylesheet" href=`${link}.css?ver=${ver}`)
      +favicon(root)
   body.row
      +aside(global)
      main(style=`width: calc(100% - ${$_COOKIE['-jf_aside-width']}px);`)
         .row.page_tabs
            +block('a', ($_GET['view'] == 'tree' ? 'light' : 'dark'))(href=(query_update('view', 'tree'))).tdn
               | Tree View
            +block('a', ($_GET['view'] == 'type' ? 'light' : 'dark'))(href=(query_update('view', 'type'))).tdn
               | Type View

         if $_GET['view'] == 'tree'
            .page_path.row.aic.w100.pl1
               - var full_path = (array_key_exists('path', $_GET) ? $_GET['path'] : '')
               - var curr_path_i = 0;
               if array_key_exists('curr_path_i', $_GET)
                  - var curr_path_i = $_GET['curr_path_i'];
               - curr_path_i = intval(curr_path_i);

               - var parts = explode('/', full_path)

               - var path_parts = [];
               for i = 0; i < curr_path_i; i++
                  - array_push(path_parts, parts[i]);
               - path = implode('/', path_parts)
               - glo['path'] = path

               <script>var state = {};</script>
               script= `state.path = '${path}';`
               if curr_path_i-1 < count(parts)
                  script= `state.pathNext = '${parts[curr_path_i]}';`
               else
                  script= `state.pathNext = '';`

               if count(parts) == 1 && parts[0] == ''
                  - parts = []
               - array_unshift(parts, '/')
               - var i = 0
               each part in parts
                  - var is_curr = (i == curr_path_i)
                  a(href=(query_update('curr_path_i', i))).page_path__part.tdn(class=( is_curr ? 'page_path__part_curr' : '' ))= part
                  - i++

            .page_content.ova.w100
               template#template_T_field
                  +item_T_field()
               template#template_T_object
                  +item_T_object()
               template#template_T_list
                  +item_T_list()
               template#template_T_image
                  +item_T_image()
               template#template_T_space
                  +item_T_space()

               - var is_data = true
               table(data-update-link='./dev.php?page=scripts&script=field-update')
                  thead
                     tr
                        td Order
                        td Key
                        td Name
                        td(colspan="2") Type
                        td.w100 Value
                        td Permission
                  tbody
                     - var children = db.at_path(path)
                     - children = children.get_children();

                     if children == null
                        - is_data = false
                     else
                        each child in children
                           if child.type.name == 'field'
                              +item_T_field(child)
                           else if child.type.name == 'image'
                              +item_T_image(child)
                           else if child.type.name == 'object'
                              +item_T_object(child)
                           else if child.type.name == 'list'
                              +item_T_list(child)
                           else if child.type.name == 'space'
                              +item_T_space(child)

               h2.tac(class=( is_data ? 'dn' : '' ))#title_no-data No data


         else if $_GET['view'] == 'type'
            |type

         .page_foot-panel.w100.row.jcsb
            .row
               +button('Add', 'dark').page_button-add.rel(data-add-link='./dev.php?page=scripts&script=field-add')
                  .page_button-add__content.abs.col.top0.left0.dn
                     - types_orm = orm.from('type').select('*')
                     - types = types_orm()
                     each curr_type in types
                        +block('div', 'dark').page_button-add__type(data-id=curr_type['id_type'])
                           = curr_type['type_name']
                     
               +button('Delete', 'dark').page_button-delete(data-delete-link='./dev.php?page=scripts&script=field-delete')
                  span(style="color: #6CF6FF88").dn#button-delete-count
                     |  (
                     span 0
                     | )
               +button('Duplicate', 'dark').page_button-duplicate(data-duplicate-link='./dev.php?page=scripts&script=field-duplicate')
                  span(style="color: #6CF6FF88").dn#button-duplicate-count
                     |  (
                     span 0
                     | )
            .row
               #statusbar.p1 Ready
         

   script(src=`${link}.bundle.js`)