include ../../bundle.pug

+die-if-bad()
- var global = { 'page-name': 'account', orm: orm };
<?php global $glo; ?>
- var glo = global
+get-user-info(global)

<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Main page | Just Field
      link(rel="stylesheet" href=`${link}.css?ver=${ver}`)
      +favicon(root)
   body.row
      +aside()
      main
         .page_content.ova.w100
            table
               thead
                  tr
                     td Order
                     td Login
                     td Email
               tbody
                  - var accounts_orm = orm.from('account').select('*')
                  - var accounts = accounts_orm()
                  each curr_account in accounts
                     tr
                        td.page_table-order.row.jcc.aic.cup
                           img(src=`${attach}/Images/up-down.svg` draggable="false")
                        td
                           = curr_account['account_login']
                        td
                           +link(curr_account['account_email'], `mailto:${curr_account['account_email']}`)
         .page_foot-panel.w100
            +button('Add', 'dark')
            +button('Delete', 'dark')
               span(style="color: #6CF6FF88")
                  |  (
                  span 0
                  | )
         

      script(src=`${link}.bundle.js?ver=${ver}`)